<h2>
	Heading
</h2>
<p>
	Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
</p>
<p>
	<a class="btn" href="#">View details »</a>
</p>

<ul class="photo-grid">
	<li>
		<a href="#">
			<figure>
				<img src="images/arcdetriomphe_sm.png" height="180" width="320" alt="Arc de Triomphe">
				<figcaption><p>Arc de Triomphe</p></figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="#">
			<figure>
				<img src="images/eiffeltower_sm.png" height="180" width="320" alt="Eiffel Tower">
				<figcaption><p>Eiffel Tower</p></figcaption>
			</figure>
		</a>
	</li>
	<li><a href="#">
			<figure>
				<img src="images/notredame_sm.png" height="180" width="320" alt="Notre Dame">
				<figcaption><p>Notre Dame</p></figcaption>
			</figure>
		</a>
	</li>
</ul>