<div class="container">
	<h2>
		Our goal is to help you build your libraries!
	</h2>
	<p class="pad">
		Our skilled experts know how to search the New and Used book worlds so you don’t have to! Below are some of the experts that can help you locate the treasures you desire. 
	</p>
	
	<div class="test">
		<div class="cf2" class="shadow">
		  <p class="bottom "> Profile information about a founder, book scout, etc, </p>
		  <img class="top cf_onclick" src="http://www.clker.com/cliparts/B/R/Y/m/P/e/blank-profile-hi.png" height="180" width="180" />
		</div>
	</div>
	<div class="test2">
		<div class="cf2" class="shadow">
		  <p class="bottom "> Profile information about a founder, etc, </p>
		  <img class="top cf_onclick" src="http://www.clker.com/cliparts/B/R/Y/m/P/e/blank-profile-hi.png" height="180" width="180" />
		</div>
	</div>
	<div class="">
		<div class="cf2" class="shadow">
		  <p class="bottom "> Profile information about a founder, etc, </p>
		  <img class="top cf_onclick" src="http://www.clker.com/cliparts/B/R/Y/m/P/e/blank-profile-hi.png" height="180" width="180" />
		</div>
	</div>
</div>	