<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Our goal is to help you build your libraries!
			</h3>
			<p class="pad">
				Our skilled experts know how to search the New and Used book worlds so you don’t have to! Below are some of the experts that can help you locate the treasures you desire. 
			</p>
		</div>
	</div>
	<div class="row cf-margin">
		<div>
			<div class="cf test">
				<p> Profile information about a founder, etc, </p>
				<img class="top" src="http://www.clker.com/cliparts/B/R/Y/m/P/e/blank-profile-hi.png" height="180" width="180" />
			</div>
		</div>
		<div>
			<div class="cf test2">
				<p> Profile information about a founder, etc, </p>
				<img class="top" src="http://www.clker.com/cliparts/B/R/Y/m/P/e/blank-profile-hi.png" height="180" width="180" />
			</div>
		</div>
		<div>
			<div class="cf">
				<p> Profile information about a founder, etc, </p>
				<img class="top" src="http://www.clker.com/cliparts/B/R/Y/m/P/e/blank-profile-hi.png" height="180" width="180" />
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<p class="text-center text-success lead">
				Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
			</p>
		</div>
	</div>
</div>
</div>	