
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item", style: "background-size: cover">
        	<%=image_tag("870969-antique-books-bookshelf-desks-library-objects 2.jpg") %>
        	<div class="carousel-caption">
			 <h4>
			  The comfort of a book never grows old!
			 </h4>
			 <p>
			  New, old or antique, your book wishes can come true with our servise!
			 </p>
			</div>
        </div>
        
        <div class="item">
        	<%= image_tag("antique-books.jpg") %>
        </div>
        
        <div class="item">
        	<%=image_tag("870969-antique-books-bookshelf-desks-library-objects 2.jpg") %>
        </div>
        </div>
        
    </div>
</div>
<div id="cf2" class="shadow">
  <img class="bottom photo" src="http://i.ebayimg.com/00/s/NDMyWDMwMA==/z/mnoAAOSwQItUILbW/$_35.JPG?set_id=2" />
  <img class="top photo" src="http://zolochiv.net/wp-content/uploads/2011/05/rada-vudavsiv-300x300.jpg" />
</div>
<p id="cf_onclick">Click me to toggle</p>