
.pad {
	padding-bottom: 80px;
}

.bottom {
  border-radius: 10px;
}

.test {
	float: left;
	overflow: auto;
}

.test2 {
	float: right;
	overflow: auto;
}

.cf2 {
  position:relative;
  border-radius: 10px;
  height:182px;
  width:182px;
  margin:0 auto;

}

.cf2 p {
  position:absolute;
  text-overflow: wrap;
}

.cf2 img {
  border-radius: 10px;
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.cf2 img.transparent {
border-radius: 10px;
opacity:0;
}
.cf_onclick {
cursor:pointer;
}







