
.pad {
	padding-bottom: 80px;
}

.bottom {
  border-radius: 10px;
}

.test {
	float: left;
	overflow: auto;
}

.test2 {
	float: right;
	overflow: auto;
}

.cf-margin {
  margin-bottom: 50px;
}
.cf {
  position:relative;
  height:180px;
  width:180px;
  margin:0 auto;
  border-radius: 10px;
}
.cf p {
  position:absolute;
  width: 180;
  height: 180;
  text-overflow: wrap;
  border-radius: 10px;
}


.cf img {
  border-radius: 10px;
  position:absolute;
  left:0;
  -webkit-transition: opacity .600s ease-in-out;
  -moz-transition: opacity .600s ease-in-out;
  -o-transition: opacity .600s ease-in-out;
  transition: opacity .600s ease-in-out;
}

.cf img.top:hover {
  opacity:0;
}


